.box {
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: crimson;
    font-size: 50px;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    p{
        font-size: 30px;
    }
}